doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include components/loading
    block content

    footer
      script(type='text/javascript' src="/javascripts/loading.js")